.card {
  width: 8em;
  height: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  border: 1px solid rgb(233, 232, 232);
  border-radius: .5em;
  transition: padding .3s ease-in-out;
}
.card > * {
  pointer-events: none;
}
.card-image-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.card-image {
  display: flex;
  width: 60%;
}