.card {
  width: 10em;
  height: 10em;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  border: 1px solid black;
  border-radius: .5em;
}
.card > * {
  pointer-events: none;
}
.card-image-container, .card-title-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.card-image {
  display: flex;
  width: 60%;
}
.card-title {
  flex-grow: 1;
  margin-right: 0;
  text-align: center;
}