.card {
  width: 10em;
  height: 10em;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  border: 1px solid black;
  border-radius: .5em;
}
.card-image {

}
.card-title {

}