.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
  color: white;
  font-size: 2em;
}
.record-header {
  margin-bottom: 1em;
}
#record-value {
  margin-left: .5em;
}
.score-value {
  margin-left: 1em;
}